data/samples/outcome.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="outcome">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="4">
        <xs:element ref="id"/>
        <xs:element ref="outcomeName"/>
        <xs:element ref="applicability"/>
        <xs:element ref="direction"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" type="xs:string"/>
  <xs:element name="outcomeName" type="xs:string"/>
  <xs:element name="applicability" type="xs:string"/>
  <xs:element name="direction" type="xs:NCName"/>
</xs:schema>
